@model movieEngine.Web.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section styles{
    <style>
        .body-text--padded{
        margin: 5px 10px;
    }
    .movie{
        text-align: center;
        margin: 0.5em 0;
        padding: 0.5em 0;
        border-radius: 5px;
    }
    .movie:hover{
        cursor: pointer;
        background-color: #eFe;
    }
    .movie-image{
        width: 10em;
    }
    </style>
}

<h1 class="body-text--padded">Movies</h1>
<hr/>
<div class="row body-text--padded">
    @foreach(var movie in Model.Movies)
    {
        <div class="col-md-4 movie">
            <h3>@movie.Title</h3>
            <p>@movie.Year</p>
            <img class="movie-image" 
                 src="@movie.ImagePath"
                 alt="@movie.Title"/>
        </div>
        <div class="movie-buttons">
            <button></button>
        </div>
        
    }
</div>
